<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul> 
            <li>
                <h3>Clases de informática particulares</h3> 
                - <small>(years)</small>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci repudiandae saepe qui aperiam temporibus minima vero quia, quos aliquam porro ratione non ducimus neque voluptate, impedit, molestias incidunt asperiores natus!</p>
            <li>
                <h3>trabajo 2</h3> 
                - <small>(years)</small>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci repudiandae saepe qui aperiam temporibus minima vero quia, quos aliquam porro ratione non ducimus neque voluptate, impedit, molestias incidunt asperiores natus!</p>
            <li>
                <h3>trabajo 3</h3> 
                - <small>(years)</small>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci repudiandae saepe qui aperiam temporibus minima vero quia, quos aliquam porro ratione non ducimus neque voluptate, impedit, molestias incidunt asperiores natus!</p>
        </ul>
    </div>
</div>
