<div class="row">
    <h1>Proyectos</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 read">
            <h2>Proyecto 1</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem mollitia dicta repudiandae placeat beatae, laudantium vitae officiis quo quod excepturi, enim reprehenderit illum suscipit inventore dolor, non nisi? Culpa, aut.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 links">
            <a href="">Proyecto GitHub</a>
        </div>
    </div>
</div>
