<div class="row">
    <div id="img" class="col-xs-12 col-sm3 col-md-3 col-lg-3">
        <!--Imagen de perfil-->
        <img id="imagen" src="./assets/img/perfil.jpg" alt="perfil" class="img-fluid">
    </div>

    <div class="col-xs-12 col-sm8 col-md8 col-lg-8">
        <!--Description-->
        <div class="description">
            <p><strong>Hola mundo</strong> Soy Lara estudiante de programación. 
                Me alegro que estes por aquí. </p>
            <p><strong>Título:</strong>Full stack deleveloper Js</p>
            <p><strong>Estudio:</strong>Tecnicatura Universitaria en Programación de la UTN</p>
            <p><strong>Ubicación:</strong>Rosario, Santa Fe, Argentina</p>
        </div>
    </div>
</div>