<div class="row">
    <h1>Hard & Soft skills</h1>
    <!--Skill 1-->
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="50"
        [showSubtitle]="false"
        [imageSrc]="'./assets/img/html.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#73B9D7'"
        [innerStrokeColor]="'#9DE6E8'"
        [animation]="true"
        [backgroundColor]="'grey'"
        ></circle-progress>
    </div>
    <!--Skill 2-->
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="50"
        [showSubtitle]="false"
        [imageSrc]="'./assets/img/CSS.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#73B9D7'"
        [innerStrokeColor]="'#9DE6E8'"
        [animation]="true"
        [backgroundColor]="'grey'"
        ></circle-progress>
    </div>
    <!--Skill 3-->
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="75"
        [radius]="50"
        [showSubtitle]="false"
        [imageSrc]="'./assets/img/js.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#73B9D7'"
        [innerStrokeColor]="'#9DE6E8'"
        [animation]="true"
        [backgroundColor]="'grey'"
        ></circle-progress>
    </div>
    <!--Skill 4-->
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="50"
        [showSubtitle]="false"
        [imageSrc]="'./assets/img/git.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#73B9D7'"
        [innerStrokeColor]="'#9DE6E8'"
        [animation]="true"
        [backgroundColor]="'grey'"
        ></circle-progress>
    </div>
    <!--Skill 5-->
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="50"
        [showSubtitle]="false"
        [imageSrc]="'./assets/img/eng.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#73B9D7'"
        [innerStrokeColor]="'#9DE6E8'"
        [animation]="true"
        [backgroundColor]="'grey'"
        ></circle-progress>
    </div>
    <!--Skill 6-->
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="50"
        [showSubtitle]="false"
        [imageSrc]="'./assets/img/grupal.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#73B9D7'"
        [innerStrokeColor]="'#9DE6E8'"
        [animation]="true"
        [backgroundColor]="'grey'"
        ></circle-progress>
    </div>
</div>

